:root {
  --lightsheet-transparent: transparent;
  --lightsheet-silver-400: #cccccc;
  --lightsheet-gray-200: #f3f3f3;
  --lightsheet-white: #ffffff;
}

.lightsheet_table_container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*Lightsheet*/
.lightsheet_table_container {
  display: inline-block;
  box-sizing: border-box;
  outline: none;
}


/*Formula bar*/
.lightsheet_table_formula_bar {
  display: flex;
  border: 1px solid var(--lightsheet-silver-400);
  border-bottom: 0px 
}

.selected_cell_display {
  width: 75px; 
  height: 25px;
  background-color: var(--lightsheet-white);
  border-right: 1px solid var(--lightsheet-silver-400);
}

.fx_label {
  width: 35px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-style: italic;
  color: var(--lightsheet-silver-400);
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.formula_input {
  flex: 1; 
  border: var(--lightsheet-silver-400);
  outline: none;
}

/*Table*/
.lightsheet_table {
  border-collapse: separate;
  white-space: nowrap;
  empty-cells: show;
  background-color: var(--lightsheet-white);
  border: 1px solid var(--lightsheet-silver-400);
}

.lightsheet_table_td {
  border-top: 1px solid var(--lightsheet-silver-400);
  border-left: 1px solid var(--lightsheet-silver-400);
  border-right: 0px;
  border-bottom: 0px;
  background-color: white;
}

thead > tr:first-child > td {
  border-top: 0px;
}

td:first-child {
  border-left: 0px;
}

.lightsheet_table_header {
  background-color: var(--lightsheet-gray-200);
  padding: 2px;
  cursor: pointer;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
}

.lightsheet_table_row_td {
  padding: 4px;
  white-space: nowrap;
  line-height: 1em;
}

.lightsheet_table_cell_input {
  border: 0px;
  border-radius: 0px;
  outline: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 2px;
  background-color: transparent;
}

.lightsheet_table_row_number {
  position: relative;
  background-color: var(--lightsheet-gray-200);
  text-align: center;
  width: 50px;
}

.lightsheet_table_selected_cell {
  border: 1px solid blue;
}

.lightsheet_table_toolbar {
  display: flex;
  background-color: var(--lightsheet-gray-200);
  border: 1px solid var(--lightsheet-silver-400);
  padding: 4px;
  gap: 16px;
}

.lightsheet_table_toolbar i.lightsheet_table_toolbar_item {
  width: 24px;
  height: 24px;
  padding: 4px;
  cursor: pointer;
}

.lightsheet_table_selected_row_number_header_cell {
  background-color: darkblue;
  color: white;
}

.lightsheet_table_selected_row_column {
  background-color: lightblue;
}

