:root {
  --lightsheet-transparent: transparent;
  --lightsheet-silver-400: #cccccc;
  --lightsheet-gray-200: #f3f3f3;
  --lightsheet-white: #ffffff;
}

.lightsheet_table_container {
  display: inline-block;
  padding-right: 2px;
  box-sizing: border-box;
  outline: none;
}

.lightsheet_table_content {
  display: inline-block;
  box-sizing: border-box;
  padding-right: 3px;
  padding-bottom: 3px;
  position: relative;
}

.lightsheet_table {
  border-collapse: separate;
  white-space: nowrap;
  empty-cells: show;
  border: 0px;
  background-color: var(--lightsheet-white);

  border-top: 1px solid var(--lightsheet-transparent);
  border-left: 1px solid var(--lightsheet-transparent);
  border-right: 1px solid var(--lightsheet-silver-400);
  border-bottom: 1px solid var(--lightsheet-silver-400);
}

.lightsheet_table_td {
  border-top: 1px solid var(--lightsheet-silver-400);
  border-left: 1px solid var(--lightsheet-silver-400);
  border-right: 1px solid var(--lightsheet-transparent);
  border-bottom: 1px solid var(--lightsheet-transparent);
  box-sizing: border-box;
}

.lightsheet_table_header {
  background-color: #f3f3f3;
  padding: 2px;
  cursor: pointer;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  text-align: center;
}

/* All td's in the table below the header row */
.lightsheet_table_row_td {
  padding: 4px;
  white-space: nowrap;
  line-height: 1em;
}

.lightsheet_table_cell_input {
  border: 0px;
  border-radius: 0px;
  outline: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-right: 2px;
  background-color: transparent;
  box-sizing: border-box;
}

.lightsheet_table_row_number {
  position: relative;
  background-color: var(--lightsheet-gray-200);
  text-align: center;
  width: 50px;
}

.lightsheet_table_selected_cell {
  border: 1px solid blue;
}
